$document-default-color : #666666;
$primary-color-green: #00bf8f;
$primary-color-green-hover: rgba(0, 191, 143, 0.74);
$status-open-blue: #008FD7;
$status-closed-orange: #ff794d;
$primary-button-color-grey: #ccc;
$light-grey: rgba(204, 204, 204, 0.34);
$dark-grey: #464646;
$standard-color-white: #fff;
$link-blue: #337ab7;
$link-hover-dark-blue: #23527c;